<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <h3><%= 'Раздел' + divName %></h3>
            <div class="list-group">
                <% itemList.forEach(function(item, i, itemList) { %>
                <a href="<%= 'question.html?id=' + item.id %>" name="listItem" id="<%= 'item' + item.id %>" class="list-group-item list-group-item-action <%= item.isActive %>">
                    <h5 class="list-group-item-heading"><%= divName + '.' + item.number %></h5>
                    <p class="list-group-item-text"><%= item.caption %></p>
                </a>
                <% }); %>
            </div>
        </div>
        <div class="col-sm-3">

        </div>

    </div>
    <!--/row-->
</div>